.contena
  .user_new_header
    .logo
      =link_to root_path do
        = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "フリマのアイコン"
  .user_new_main
    .contents
      .registration
        .new_member
          .new_member_name 新規会員登録
        .mail_sns
          %ul.box
            .mail_address
              = link_to registration_nickname_path, class: "access" do
                %i.fas.fa-envelope.fa-fw
                メールアドレスで登録する
            .blue_sns
              = link_to user_facebook_omniauth_authorize_path, method: :post ,class: "access" do
                %i.fab.fa-facebook-square.fa-fw
                Facebookで登録する
            .white_sns
              = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "access_white" do
                %i.fab.fa-google.fa-fw
                Google+で登録する
  .footer
    .footer_center
      プライバシーポリシー Fmarket利用規約 特定商取引
      .gray
        =link_to root_path do
          = image_tag "logo_gray.svg", size: "80x65", alt: "フリマのアイコン"
      .inc © Fmarket, Inc.