%nav.user-mypage-content__left__menu
  %ul.user-mypage-content__left__menu__list
    %li.user-mypage-content__left__menu__list__box
      = link_to mypages_index_path, class: "user-mypage-content__left__menu__list__box__item active" do
        = icon('fas', 'chevron-right', class:'icon')
        マイページ
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        お知らせ
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        やることリスト
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        いいね！一覧
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        出品する
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        出品した商品 - 出品中
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        出品した商品 - 取引中
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        出品した商品 - 売却済み
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        購入した商品 - 取引中
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        購入した商品 - 過去の取引
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        ニュース一覧
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        評価一覧
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        ガイド
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        お問い合わせ
  %h3.user-mypage-content__left__menu__head
    メルペイ
  %ul.user-mypage-content__left__menu__list
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        売上・振込申請
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        ポイント
  %h3.user-mypage-content__left__menu__head
    設定
  %ul.user-mypage-content__left__menu__list
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        プロフィール
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        発送元・お届け先住所変更
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        支払い方法
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        メール/パスワード
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        本人情報
    %li.user-mypage-content__left__menu__list__box
      = link_to root_path, class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        電話番号の確認
    %li.user-mypage-content__left__menu__list__box
      = link_to ('mypages_logout_path'), class: "user-mypage-content__left__menu__list__box__item" do
        = icon('fas', 'chevron-right', class:'icon')
        ログアウト