.user-mypage-content__right__body
  .content  
    = image_tag "user-bg.jpg", alt: "img", class: "content"
    = link_to root_path, class: "user-exhibition"  do
      .content__user
        = image_tag "user.jpg", alt: "user-img", class: "user"
      .content__name カト
      .content__number
        %div
          評価
          %span.count 0
        %div
          出品数
          %span.count 0
  .mypage
    %ul.tab
      %li.select お知らせ
      %li やることリスト
    .mypage__tabs-list
      %ul.contents
        %li{style: "display: block;"}
          = link_to root_path, class: "list-link"  do
            .figure
              = image_tag "logo_red.svg", class: "logo"
            .list-body
              .list-body__text
                左だよ。おはよう
              .list-body__time
                = icon( "far", "clock", class: "clock")
                %span 1 時間前
            = icon("fas", "chevron-right", class: "chevron")
        %li{style: "display: none;"}
          = link_to root_path, class: "list-link"  do
            .figure
              = image_tag "logo_red.svg", class: "logo"
            .list-body
              .list-body__text
                右だよ。こんばんは
              .list-body__time
                = icon( "far", "clock", class: "clock")
                %span 6 時間前
            = icon("fas", "chevron-right", class: "chevron")
    .mypage__bottom
      = link_to "一覧を見る", "/", class: "list-view"
  .bottom
    .bottom__head
      購入した商品
    %ul.tabs
      %li.current 取引中
      %li 過去の取引
    .bottom__list
      %ul.content
        %li
          .test1
            = image_tag "logo_gray.svg", class: "logo"
          .test
            取引中の商品がありません
        %li.hide
          .test1
            = image_tag "logo_gray.svg", class: "logo"
          .test
            過去に取引した商品がありません
