%header.priducts-toppage-header
  - if flash[:notice]
    .flash
      = flash[:notice]
  = render 'products/header'
.breadcrumb
  = render 'shared/breadcrumbs_credit'
.user-mypage-content
  .user-mypage-content__left
    = render 'left-menu-credit'
  .user-mypage-content__right
    .user-mypage-content__right__top
      支払い方法
    .user-mypage-content__right__box
      .user-mypage-content__right__box__in
        .user-mypage-content__right__box__in__text
          クレジットカード一覧
        .user-mypage-content__right__box__in__btn
          %i.far.fa-credit-card
          = link_to "クレジットカードを追加する",cards_path,class:'btn'
      .user-mypage-content__right__box__in2
        .user-mypage-content__right__box__in2__link
          = link_to "支払い方法について"
          %i.fas.fa-chevron-right
  .clearfix
.products-toppage-footer-app
  = render 'products/footer-app'
%footer.products-toppage-footer-company
  = render 'products/footer-company'
.exhibition-btn
  = render 'products/exhibition-btn'