%header.priducts-toppage-header
  = render 'products/header'
.breadcrumb
  = render 'shared/breadcrumbs_logout'
.user-mypage-content
  .user-mypage-content__left
    = render 'left-menu-logout'
.payment_main
  .center_box
    .regist-title
      支払い方法
    .card_number
      .box
        .box_in
          %label{for: "name"} カード番号
          %span.form-require 必須
          .form
            = form_for @pay do |f|
              = f.text_field :number, class:'number', placeholder: 'type a number'
          .icons
            = image_tag "cards.png", size: "343x49", alt: "カードのアイコン"
    .expiration_date
      %label{for: "name"} 有効期限
      %span.form-require 必須
      .expiration_day_year
        .year
        %h2年
      .expiration_day_month
        .month
        %h2月
      .security_code
        .in_box
          .in_block
            %label{for: "name"} セキュリティーコード
            %span.form-require 必須
            .code_box
            %h3カード裏面の番号とは
  .clearfix
.products-toppage-footer-app
  = render 'products/footer-app'
%footer.products-toppage-footer-company
  = render 'products/footer-company'
.exhibition-btn
  = render 'products/exhibition-btn'