-# .okubo-header
-#   ヘッダーの場所だよ（仮置き、あとで消す）
/-------------------------------

.priducts-toppage-header
  = render 'products/header'
.user-mypage-header
  マイページのヘッダーは、ここを作成する。
.user-mypage-content
  .user-mypage-content__left
    = render 'left-menu'
  .user-mypage-content__right
    = render 'right-body'
.products-toppage-footer-app
  = render 'products/footer-app'
.products-toppage-footer-company
  = render 'products/footer-company'

/-------------------------------
-# .okubo-footer-app
-#   フッターappの場所だよ（仮置き、あとで消す）

-# .okubo-footer-app
-#   フッター会社の場所だよ（仮置き、あとで消す）