%header.priducts-toppage-header
  = render 'products/header'
.breadcrumb
  = render 'shared/breadcrumbs'
  .clearfix
.user-mypage-content
  .user-mypage-content__left
    = render 'left-menu'
  .user-mypage-content__right
    = render 'right-body'
  .clearfix
.products-toppage-footer-app
  = render 'products/footer-app'
%footer.products-toppage-footer-company
  = render 'products/footer-company'
.exhibition-btn
  = render 'products/exhibition-btn'