%header.priducts-toppage-header
  = render 'products/header'
%nav.user-mypage-header
  %ul
    %li.user-mypage-header__menu
      = link_to root_path, class: "user-mypage-header__menu__item" do
        メルカリ
      = icon('fas', 'chevron-right', class:'icon')
    %li.user-mypage-header__menu
      %span{:itemprop => "title"} マイページ
.user-mypage-content
  .user-mypage-content__left
    = render 'left-menu-logout'
  .user-mypage-content__right
    .user-mypage-content__right__center-btn
      = link_to "ログアウト",root_path,class:'btn'
  .clearfix
.products-toppage-footer-app
  = render 'products/footer-app'
%footer.products-toppage-footer-company
  = render 'products/footer-company'
.exhibition-btn
  = render 'products/exhibition-btn'