%header.priducts-toppage-header
  = render 'products/header'
.breadcrumb
  = render 'shared/breadcrumbs_logout'
.user-mypage-content
  .user-mypage-content__left
    = render 'left-menu'
  .user-mypage-content__right2
    .user-mypage-content__right2__center-btn2
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class:'btn2'
  .clearfix
.products-toppage-footer-app
  = render 'products/footer-app'
%footer.products-toppage-footer-company
  = render 'products/footer-company'
.exhibition-btn
  = render 'products/exhibition-btn'