.contena
  .user_new_header
    .logo
      =link_to root_path do
        = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "フリマのアイコン"
.loginform
  .loginform__top
    %h1アカウントをお持ちでない方はこちら
    .loginform__top__new
      = link_to signup_index_path, class: "access" do
        新規会員登録
  .loginform__inner
    .blue_sns
      = link_to signup_index_path, class: "access" do
        %i.fab.fa-facebook-square.fa-fw
        Facebookで登録する
    .white_sns
      = link_to signup_index_path, class: "access_white" do
        %i.fab.fa-google.fa-fw
        Google+で登録する
  .loginform__inner
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "field"
      .fileder
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "field"
      .fileder
        = f.submit "ログイン", id: "loginbtn"
    -# = render "devise/shared/links"  パスワードお忘れの方を作る場合に使える
  .user_new_footer
    .info_box
      .privacy  プライバシーポリシー
      .terns メルカリ利用規約
      .specific 特定商取引
      .footer_logo_box
        .footer_center
          .gray
            =link_to root_path do
              = image_tag "logo_gray.svg", size: "80x65", alt: "フリマのアイコン"
          .inc © Mercari, Inc.