%header.priducts-toppage-header
  = render 'products/header'
.breadcrumb
  = render 'shared/breadcrumbs_logout'

.user-mypage-content
  .user-mypage-content__left
    = render 'mypages/left-menu-logout'


= form_tag(pay_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
  %label カード番号
  = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
  %br
  %label 有効期限
  %select#exp_month{name: "exp_month", type: "text"}
    %option{value: ""} --
    %option{value: "1"}01
    %option{value: "2"}02
    %option{value: "3"}03
    %option{value: "4"}04
    %option{value: "5"}05
    %option{value: "6"}06
    %option{value: "7"}07
    %option{value: "8"}08
    %option{value: "9"}09
    %option{value: "10"}10
    %option{value: "11"}11
    %option{value: "12"}12
  %span 月/
  %select#exp_year{name: "exp_year", type: "text"}
    %option{value: ""} --
    %option{value: "2019"}19
    %option{value: "2020"}20
    %option{value: "2021"}21
    %option{value: "2022"}22
    %option{value: "2023"}23
    %option{value: "2024"}24
    %option{value: "2025"}25
    %option{value: "2026"}26
    %option{value: "2027"}27
    %option{value: "2028"}28
    %option{value: "2029"}29
  %span 年
  %br
  %label セキュリティコード
  = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
  #card_token
  = submit_tag "追加する", id: "token_submit"
-# .content__title
-#   %h2 クレジットカード情報入力
-# .content__credit-card
-#   .content__credit-card__inner
-#     = form_for @pay ,url:{cnotroller:'card',action:'create'}do|f|
-#       = f.label :'カード番号', class: 'label'
-#       %span 必須
-#       = f.text_field :number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
-#       .cards-expire
-#         = f.label :有効期限, class: 'label'
-#         %span 必須
-#         %br
-#         .cards-expire__wrap
-#           = f.select :month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
-#           %span.expire-text 月
-#           %br
-#         .cards-expire__wrap
-#           = f.select :year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
-#           %span.expire-text 年
-#       .cards-expire
-#         = f.label :セキュリティコード, class: 'label'
-#         %span 必須
-#         = f.text_field :code, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
-#       .content-bottom#card_token
-#         = f.submit '追加する', class: 'content-bottom--add-btn', id: 'token_submit'

-# .payment_main
-#   .center_box
-#     .regist-title
-#       支払い方法
-#     .card_number
-#       .box
-#         .box_in
-#           %label{for: "name"} カード番号
-#           %span.form-require 必須
-#           .form
-#             = form_for @pay, url:'pay_path' do|f|
-#               = f.text_field :number, class:'number', placeholder: 'type a number' do
-#           .icons
-#             = image_tag "cards.png", size: "343x49", alt: "カードのアイコン"
-#               .send-space
-#                 .send-space__btn
-#                   =  f.submit '登録'
-#     .expiration_date
-#       %label{for: "name"} 有効期限
-#       %span.form-require 必須
-#       .expiration_day_year
-#         .year
-#         %h2年
-#       .expiration_day_month
-#         .month
-#         %h2月
-#       .security_code
-#         .in_box
-#           .in_block
-#             %label{for: "name"} セキュリティーコード
-#             %span.form-require 必須
-#             .code_box
-#             %h3カード裏面の番号とは
  .clearfix
.products-toppage-footer-app
  = render 'products/footer-app'
%footer.products-toppage-footer-company
  = render 'products/footer-company'
.exhibition-btn
  = render 'products/exhibition-btn'