.slider
  .slider__content
    = image_tag 'GuitarWolf2019_a.jpg',width:"300px"
  .slider__content
    = image_tag 'gahag-0097732117.jpg',width:"300px"
  .slider__content
    = image_tag 'J19y54-P_400x400.jpg',width:"300px"

.categoryname-sapce
  .categoryname-sapce__title
    人気のカテゴリ
  .categoryname-sapce__center-space
    .categoryname-sapce__center-space__name1
      レディース
    .categoryname-sapce__center-space__name2
      メンズ
    .categoryname-sapce__center-space__name3
      おもちゃ・ホビー・グッズ
    .categoryname-sapce__center-space__name4
      家電・スマホ・カメラ
.center
  .center__space-a
    .center__space-a__new-item1
      .center__space-a__new-item1__title1
        レディース新着アイテム
      .center__space-a__new-item1__link1
        = link_to "もっとみる"
      .center__space-a__new-item1__image-space
        %ul.space
          %li.space__box
            - @ladies__products.each do |product|
              - product.images.each do |image|
                .space__box__inner
                  = image_tag image.src, class:'space__box__size'
                  ¥300
                  %brレディース商品
        %ul.space
          %li.space__box
            - @ladies__products.each do |product|
              - product.images.each do |image|
                .space__box__inner
                  = image_tag image.src, class:'space__box__size'
                  ¥300
                  %brレディース商品
          
        %ul.space
          %li.space__box
            - @mens__products.each do |product|
              - product.images.each do |image|
                .space__box__inner
                  = image_tag image.url, class:'space__box__size'
                  ¥300
                  %brメンズ商品
                
          
        
  .center__space-b
    .center__space-b__new-item2
      .center__space-b__new-item2__title2
        メンズ新着アイテム
      .center__space-b__new-item2__link2
        = link_to "もっとみる" , class:'links'
      .center__space-b__new-item2__image-space
        .center__space-b__new-item2__image-space__image
          
        .center__space-b__new-item2__image-space__imagetest
          testimage

  .center__space-c
    .center__space-c__new-item3
      .center__space-c__new-item3__title3
        メンズ新着アイテム
      .center__space-c__new-item3__link3
        = link_to "もっとみる" , class:'links'
      .center__space-c__new-item3__image-space
        .center__space-c__new-item3__image-space__image
          ここは写真です
        .center__space-c__new-item3__image-space__imagetest
          testimage
  .center__space-d
    .center__space-d__new-item4
      .center__space-d__new-item4__title4
        家電・スマホ・カメラ新着アイテム
      .center__space-d__new-item4__link4
        = link_to "もっとみる" , class:'links'
      .center__space-d__new-item4__image-space
        .center__space-d__new-item4__image-space__image
          ここは写真です
        .center__space-d__new-item4__image-space__imagetest
          testimage
    
  .center__space-e
    .center__space-e__new-item5
      .center__space-e__new-item5__title5
        おもちゃ・ホビー・グッズ新着アイテム
      .center__space-e__new-item5__link5
        = link_to "もっとみる" , class:'links'
      .center__space-e__new-item5__image-space
        .center__space-e__new-item5__image-space__image
          ここは写真です
        .center__space-e__new-item5__image-space__imagetest
          testimage

.categoryname-sapce
  .categoryname-sapce__title
    人気のブランド
  .categoryname-sapce__center-space
    .categoryname-sapce__center-space__name5
      シャネル
    .categoryname-sapce__center-space__name6
      ルイビトン
    .categoryname-sapce__center-space__name7
      シュプリーム
    .categoryname-sapce__center-space__name8
      ナイキ
.center
  .center__space-a
    .center__space-a__new-item1
      .center__space-a__new-item1__title1
        シャネル新着アイテム
      .center__space-a__new-item1__link1
        = link_to "もっとみる"
      .center__space-a__new-item1__image-space
        .center__space-a__new-item1__image-space__image
          ここは写真です
        .center__space-a__new-item1__image-space__imagetest
          testimage
  .center__space-b
    .center__space-b__new-item2
      .center__space-b__new-item2__title2
        ルイビトン新着アイテム
      .center__space-b__new-item2__link2
        = link_to "もっとみる" , class:'links'
      .center__space-b__new-item2__image-space
        .center__space-b__new-item2__image-space__image
          ここは写真です
        .center__space-b__new-item2__image-space__imagetest
          testimage

  .center__space-c
    .center__space-c__new-item3
      .center__space-c__new-item3__title3
        シュプリーム新着アイテム
      .center__space-c__new-item3__link3
        = link_to "もっとみる" , class:'links'
      .center__space-c__new-item3__image-space
        .center__space-c__new-item3__image-space__image
          ここは写真です
        .center__space-c__new-item3__image-space__imagetest
          testimage
  .center__space-d
    .center__space-d__new-item4
      .center__space-d__new-item4__title4
        ナイキ新着アイテム
      .center__space-d__new-item4__link4
        = link_to "もっとみる" , class:'links'
      .center__space-d__new-item4__image-space
        .center__space-d__new-item4__image-space__image
          ここは写真です
        .center__space-d__new-item4__image-space__imagetest
          testimage
    
  .center__space-e
    .center__space-e__new-item5
      .center__space-e__new-item5__title5
        おもちゃ・ホビー・グッズ新着アイテム
      .center__space-e__new-item5__link5
        = link_to "もっとみる" , class:'links'
      .center__space-e__new-item5__image-space
        .center__space-e__new-item5__image-space__image
          ここは写真です
        .center__space-e__new-item5__image-space__imagetest
          testimage
