.header
  .header__content
    .hd-top
      .hd-top__left
        = image_tag "fmarket_logo_red.svg", class: "img-logo"
      .hd-top__right
        .hd-top__right__icon
          = link_to "/", class: "normal" do
            = icon('fas', 'search', class: 'search')
    .hd-bottom
      .hd-bottom__left
        .hd-bottom__left__category
          = link_to "/", class: "bold" do
            = icon('fas', 'list-ul', class: 'icon')
            カテゴリーから探す
        .hd-bottom__left__bland
          = link_to "/", class: "bold" do
            = icon('fas', 'tag', class: 'icon')
            ブランドから探す
      .hd-bottom__right
        - if user_signed_in?
          .hd-bottom__right__info
            = link_to "/", class: "normal" do
              = icon('far', 'heart', class: 'ificon')
              いいね！一覧
          .hd-bottom__right__info
            = link_to "/", class: "normal" do
              = icon('far', 'bell', class: 'ificon')
              お知らせ
          .hd-bottom__right__info
            = link_to "/", class: "normal" do
              = icon('fas', 'check', class: 'ificongo')
              やることリスト
          .hd-bottom__right__info
            = link_to mypages_index_path, class: "normal" do
              マイページ
        - else
          .hd-bottom__right__new
            = link_to signup_index_path, class: "sign" do
              新規会員登録
          .hd-bottom__right__signup
            = link_to user_session_path, class: "login" do
              ログイン