//ユーザー側の仮リンク。あとで、削除
.kari
  = link_to "aaa","signup/index"
  = link_to "bbb","mypages/index"
//メルカリトップは、この下からでお願いします
.priducts-toppage-header
  = render 'header' 
.products-toppage-contents
  = render 'content'
.products-toppage-footer-app
  = render 'footer-app'
.products-toppage-footer-company
  = render 'footer-company'