//ユーザー側の仮リンク。あとで、削除
.kari
  = link_to "signup","signup/index"
  = link_to "mypage","mypages/index"
  = link_to "test_okubo","test_okubo/index"
//メルカリトップは、この下からでお願いします
%header.priducts-toppage-header
  = render 'header' 
.products-toppage-contents
  = render 'content'
.products-toppage-footer-app
  = render 'footer-app'
%footer.products-toppage-footer-company
  = render 'footer-company'