%header.priducts-toppage-header
  - if flash[:notice]
    .flash
      = flash[:notice]
  = render 'header' 
.products-toppage-contents
  = render 'content'
.products-toppage-footer-app
  = render 'footer-app'
%footer.products-toppage-footer-company
  = render 'footer-company'
.exhibition-btn
  = render 'exhibition-btn'
  

