.contena
  - if flash[:notice]
    .flash
      = flash[:notice]
  .user_new_header
    .logo
      =link_to root_path do
        = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "フリマのアイコン"
.new-item
  .new-item__content
    = form_for @product, url: {controller: 'products', action: 'create'} do |f|
      .new-item__content__top
        %h2商品情報を入力
      .exhibit
        .exhibit__text
          .exhibit__text__content
            %label.lg出品画像
            %span必須
            %p最大10枚までアップロードできます
            #image-box
              #previews
                - if @product.persisted?
                  - @product.images.each_with_index do |image, i|
                    = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
              = f.fields_for :images do |image|
                .js-file_group{"data-index" => "#{image.index}"}
                  = image.file_field :src, class: 'js-file'
                  %br/
                  %span.js-remove 削除
                - if @product.persisted?
                  = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
              - if @product.persisted?
                .js-file_group{"data-index" => "#{@product.images.count}"}
                  = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
                  %br/
                  %span.js-remove 削除
      .exhibit
        .exhibit__text
          .exhibit__text__content
            %label商品名
            %span必須
            = f.text_field :name, class:"exhibit__text__content__box", placeholder: "商品名（必須40字まで）", required: ""
          .exhibit__text__form
            %label商品の説明
            %span必須
            = f.text_area :discription, class: "exhibit__text__form__box", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。ああわせやすいのでおすすめです。", required: ""
      .exhibit
        .exhibit__detail
          .exhibit__detail__left
            %h3商品の詳細
          .exhibit__detail__right
            %labelカテゴリー
            %span必須
            = f.collection_select :"category_id", Category.limit(13), :id, :name, {prompt: "---"},{required: "", class:"exhibit__detail__right__box"}
            .exhibit__detail__right__top
              %label.top商品の状態
              %span必須
              = f.collection_select :state, Condition.all, :name, :name, {prompt: "---"},{required: "", class:"exhibit__detail__right__box"}
      .exhibit
        .exhibit__detail
          .exhibit__detail__left
            %h3配送について
            %h3.question?
          .exhibit__detail__right
            %label配送料の負担
            %span必須
            = f.select :delivery_fee, ["送料込み(出品者負担)", "着払い(購入者負担)"], {prompt: "---"},{required: "", class:"exhibit__detail__right__box"}
            .exhibit__detail__right__top
              %label配送の方法
              %span必須
              = f.collection_select :sending_method, SendingMethod.all, :name, :name, {prompt: "---"},{required: "", class:"exhibit__detail__right__box"}
            .exhibit__detail__right__top
              %label発送元の地域
              %span必須
              = f.collection_select :sending_area, Area.all, :name, :name, {prompt: "---"},{required: "", class:"exhibit__detail__right__box"}
            .exhibit__detail__right__top
              %label発送までの日数
              %span必須
              = f.select :sending_day, ["1~2日で発送", "2~3で発送", "4~7日で発送"],  {prompt: "---"},{required: "", class:"exhibit__detail__right__box"}
      .exhibit
        .exhibit__detail
          .exhibit__detail__left
            %h3.min販売価格(300〜9,999,999)
            %h3.question?
          .exhibit__detail__right
            .exhibit__detail__right__body
              .exhibit__detail__right__body__text
                %label価格
                %span必須
              .exhibit__detail__right__body__pay
                %h5￥
                = f.text_field :price, class:"exhibit__detail__right__body__pay__box", placeholder: "例）300", required: ""
            .exhibit__detail__right__commission
              %p販売手数料(10%)
              %h6#commission -
            .exhibit__detail__right__gain
              %label.lg販売利益
              %label#profit -
      .exhibit
        .exhibit__text
          %p禁止されている出品、行為を必ずご確認ください。
          %pまたブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %pまた、出品を持ちまして加盟店規約に同意したことになります。
          %button{form: "new_product", type: "submit", class: "exhibit__text__btn"} 出品する
          .exhibit__text__back
            %h4もどる
  .footer
    .footer_center
      プライバシーポリシー Fmarket利用規約 特定商取引
      .gray
        =link_to root_path do
          = image_tag "logo_gray.svg", size: "80x65", alt: "フリマのアイコン"
      .inc © Fmarket, Inc.