.details-page
  %header.products-toppage-header
    = render 'products/header'
  %section.product-box
    %h1.product-name  商品名
    .product-box__main-content
      .product-box__main-content__photo
        .product-box__main-content__photo__main-photo  画像
        .product-box__main-content__photo__sub-photo 
          .product-box__main-content__photo__sub-photo__list  画像
      .table
        %table.product-table
          %tbody
            %tr
              %th 出品者
              %td 
                = link_to root_path, class: "link"  do
                  かと
                .icon-box
                  .icon-box__face-icon
                    = icon( "fas", "grin", class: "icon-good")
                    %span 10
                  .icon-box__face-icon-bc
                    = icon( "fas", "meh", class: "icon-normal")
                    %span 8
                  .icon-box__face-icon-bc
                    = icon( "fas", "frown", class: "icon-bad")
                    %span 0
            %tr
              %th カテゴリー
              %td 
                = link_to root_path, class: "link"  do
                  %div メンズ
                = link_to root_path, class: "link"  do
                  .details-first-category
                    = icon('fas', 'chevron-right', class:'icon')
                    ジャケット/アウター
                = link_to root_path, class: "link"  do
                  .details-second-category
                    = icon('fas', 'chevron-right', class:'icon')
                    Gジャン/デニムジャケット
            %tr
              %th ブランド
              %td
                = link_to root_path, class: "link"  do
                  ブランド名
            %tr
              %th 商品のサイズ
              %td サイズ
            %tr
              %th 商品の状態
              %td 状態
            %tr
              %th 配送料の負担
              %td 送料
            %tr
              %th 配送の方法
              %td 方法
            %tr
              %th 配送元地域
              %td
                = link_to root_path, class: "link"  do
                  地域
            %tr
              %th 発送日の目安
              %td 目安
    .product-box__price-box
      %span.price ¥1,000
      %span.tax (税込)
      %span.fee 送料込み
    = link_to root_path, class: "purchase-btn" do
      購入画面に進む
    .product-box__description
      %p.description-text
        あああああああああああああああああああああああああああああああああああああああああああ
        %ber
        いいいいいいいいいいいいいいいいいい
    .product-box__description-buttom
      .product-box__description-buttom__like-report
        .product-box__description-buttom__like-report__like
          = link_to root_path, class: "link"  do
            = icon('far', 'heart', class:'icon')
            %span いいね!
            %span 1
        .product-box__description-buttom__like-report__report
          = link_to root_path, class: "link"  do
            = icon('fa', 'flag', class:'icon')
            %span 不適切な商品の報告
      .product-box__description-buttom__right-btn
        = link_to root_path, class: "link-btn" do
          = icon('fas', 'lock', class:'icon')
          %span あんしん・あんぜんのへの取組
  .product-message
    .product-message__area
      .product-message__area__content
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %text_area.message-area
        = link_to root_path, class: "message-btn" do
          コメントする
  %ul.product-next-link
    %li.nexta
      = link_to root_path, class: "link"  do
        = icon('fas', 'chevron-left', class:'left-icon')
        マジェスティックレゴン／シアードット花柄ブラウス／ネイビー系
    %li.nextb
      = link_to root_path, class: "link"  do
        レミレリーフ  ダウンベスト  カモフラ柄
        = icon('fas', 'chevron-right', class:'right-icon')
  .media-box
    %ul.media
      %li.face-icon
        = link_to "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm98961557293%2F", target: "_blank", class: "link" do
          = icon('fab', 'facebook-square', class:'icon-face')
      %li.twitter-icon
        = link_to "https://twitter.com/login?lang=ja", target:"_blank", class:"link" do
          = icon('fab','twitter-square', class: 'icon-twitter')
      %li.pintereset-icon
        = link_to "https://www.pinterest.jp/", target:"_blank", class:"link" do
          = icon('fab','pinterest-square', class: 'icon-pintereset')
  .product-list
    %section.user-product
      %h2 
        = link_to 'ユーザーのその他の商品', "root_path", class: "user-page"
      .image-space
        %section.image-box
          = link_to "root_path", class: "product-link" do
            .photo
              = image_tag "tanbo.jpg", class:"photo-box"
            .photo-text
              %h3.product-name
                ズボン
              .product-bottom
                .product-bottom__yen ¥1,000
                .product-bottom__heart
                  = icon('far', 'heart', class:'icon')
                  %span 1
        %section.image-box
          = link_to "root_path", class: "product-link" do
            .photo
              = image_tag "tanbo.jpg", class:"photo-box"
            .photo-text
              %h3.product-name
                ズボン
              .product-bottom
                .product-bottom__yen ¥1,000
                .product-bottom__heart
                  = icon('far', 'heart', class:'icon')
                  %span 1
        %section.image-box
          = link_to "root_path", class: "product-link" do
            .photo
              = image_tag "tanbo.jpg", class:"photo-box"
            .photo-text
              %h3.product-name
                ズボン
              .product-bottom
                .product-bottom__yen ¥1,000
                .product-bottom__heart
                  = icon('far', 'heart', class:'icon')
                  %span 1
    %section.relation-product
      %h2 
        = link_to '関連するその他の商品', "root_path", class: "user-page"
      .image-space
        %section.image-box
          = link_to "root_path", class: "product-link" do
            .photo
              = image_tag "tanbo.jpg", class:"photo-box"
            .photo-text
              %h3.product-name
                ズボン
              .product-bottom
                .product-bottom__yen ¥1,000
                .product-bottom__heart
                  = icon('far', 'heart', class:'icon')
                  %span 1
        %section.image-box
          = link_to "root_path", class: "product-link" do
            .photo
              = image_tag "tanbo.jpg", class:"photo-box"
            .photo-text
              %h3.product-name
                ズボン
              .product-bottom
                .product-bottom__yen ¥1,000
                .product-bottom__heart
                  = icon('far', 'heart', class:'icon')
                  %span 1
        %section.image-box
          = link_to "root_path", class: "product-link" do
            .photo
              = image_tag "tanbo.jpg", class:"photo-box"
            .photo-text
              %h3.product-name
                ズボン
              .product-bottom
                .product-bottom__yen ¥1,000
                .product-bottom__heart
                  = icon('far', 'heart', class:'icon')
                  %span 1
  %nav.details-show-footer 
    %ul
      %li.user-mypage-header__menu
        = link_to root_path, class: "user-mypage-header__menu__item" do
          メルカリ
        = icon('fas', 'chevron-right', class:'icon')
      %li.user-mypage-header__menu
        %span{:itemprop => "title"} 商品名
  .products-toppage-footer-app
    = render 'footer-app'
  %footer.products-toppage-footer-company
    = render 'footer-company'